doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Apolo | #{pagina}
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/font-awesome.min.css')
        link(rel='stylesheet' href='/css/aos.css')
        link(rel="stylesheet", href="/css/color.css")
        //- MAIN CSS
        link(rel='stylesheet' href='/css/tooplate-gymso-style.css')
        body(data-spy='scroll', data-target='#navbarNav', data-offset='50')
        if autenticado
            include includes/header-app2
        else
            include includes/header-app
        block contenido
    

        block scripts