extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.text-center.text-white Apolo
        h2.text-center.text-2xl.text-white= pagina

        p.text-xl.text-center.my-10.text-white= mensaje
            p.text-xl.text-center.my-10.text-white= mensaje2