@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'Poppins', sans serif;
    /*Login y register*/
}
.logyreg{
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-color: #1B1B1B;
    background-attachment: fixed;
    background-position-x: 50vh;
    background-position-y: center;
    width: 0;
}
@media(max-width: 600px){
    .logyreg{
        background-size: 11%;
    }
}
.box{
    display:flex;
    justify-content: right;
    align-items: center;
    min-height: 90vh;
    min-width: 150vh;

    
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.logyregh{
    color: #fff;
    font-size: 30px;
    display: block;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field .input{
    height: 42px;
    width: 87%;
    border: none;
    border-radius: 7px;
    color: #FF7A00;
    font-size: 15px;
    padding: 0 0 0 40px;
    background: rgba(0, 0, 0, 0.7);
    outline: none;

    
}
i{
    position: relative;
    top: -30px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #FF7A00;
    font-style: oblique;
}
.submit{
    border: none;
    border-radius: 10px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: white;
    background: rgba(255,122,0,0.7);
    cursor: pointer;
    transition: .2s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF7A00;
    font-size: medium;
    font-style: bold;
    margin-top: 20px;
}
.one{
    display: flex;
    margin-top: 10px;

}
.two{
    display: flex;
    color: #0099FF;
    margin-top: 10px;
}
label a{
    text-decoration: none;
    color: #fff;
}
.bottom{
    color: FF7A00;
}
.olvdcontra{
    text-align: center;
    color: #0099FF;
}
.top{
    text-align: center;
}

/* Menu barra */
.home{
    font-family: Arial, Helvetica, sans-serif;
    background: #515151;
    margin: 0%;
    padding: 0%;
}

.menu li img{
    position:absolute;
    display: flex;
    width: 50%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1B1B1B;
    width: 100%;
    max-width: 100%;
    display: flex;
    
}  

.menu li a{
    text-decoration: none;
    color: white;
    padding: 50px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;    
}

.menu li a:hover{
    background: #FF7A00;
}

/* APOLO */

.textos_header img{
    width: 80px;
    height: 60px;
}

.contenedor_apolo img{
    width: 628px;
    height: 383px;
    float: right;
    margin-right:20px;
    
}

.apolo{
    text-align: left;
    color: white;
    font-size: 80px;
    margin-left: 20px;
}
.man{
    text-align: left;
    color: white;
    font-size: 80px;
    position: relative;
    top: -55px;
    margin-left: 20px;

}

.linea1 {
    position: relative;
    height: 1px;
    margin-left: 20px;
    margin-right: 87%;
    background-color: #FF7A00;
    top: -120px;
  }
.contenedor_apolo p{
    text-align: left;
    color: white;
    position: relative;
    top: -100px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 100px;
    width: 379px; 
    height: 144px; 
}

.contenedor_apolo hr{
    border: none;
    border-top: 50000px #FF7A00;
    margin: 50px 50;
}
.boton_citar{
    position: relative;
    background-color: #FF7A00;
    border: none; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display:block; 
    font-size: 16px; 
    cursor: pointer;
    margin-left: 20px;
    top: -90px;
    width: 318px;
    height: 70px;
}

/* PRODUCTOS */

.containedor_productos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1B1B1B;
  }
.titulo{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-left: 0;
}

.img1{
    height: 334px;
    width: 273px;
    left: 50px;
    display: relative;
}

.img2{
    height: 334px;
    width: 273px;
    left: 250px;
    position: relative;
}
.img3{
    height: 334px;
    width: 273px;
    left: 450px;
    position: relative;
}

.text1{
    color: white;
    font-size: 30px;
    position: relative;
    top: 0;
    margin-left: 115px;

}
.text2{
    color: white;
    font-size: 30px;
    position: relative;
    top: -65px;
    margin-left: 600px;  
}.text3{
    color: white;
    font-size: 30px;
    position: relative;
    top: -130px;
    margin-left: 1100px;
}

.boton_productos1{
    position: relative;
    background-color: #FF7A00;
    border: none; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer;
    margin-left: 70px;
    top: -150px;
    width: 231px;
    height: 43px;
}

@media(max-width: 768px){
    .contenedor_productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contenedor_productos_ejemplos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width: 768px){
    .contenedor_productos_ejemplos{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}
.boton_productos1{
    display: block;
    margin: 0;
    position: initial;
}
.producto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}  
img{
    display: flex;
    width: 8%;
}


/* CITAS */

.containedor_cias{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1B1B1B;
  }
.titulo_citas{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-left: 0;
}


.imgC1{
    height: 334px;
    width: 273px;
    left: 50px;
    position: relative;
}
.imgC2{
    height: 334px;
    width: 273px;
    left: 250px;
    position: relative;
}
.imgC3{
    height: 334px;
    width: 273px;
    left: 450px;
    position: relative;
}

.textC1{
    color: white;
    font-size: 30px;
    position: relative;
    top: 0;
    margin-left: 115px;

}
.textC2{
    color: white;
    font-size: 30px;
    position: relative;
    top: -65px;
    margin-left: 600px;  
}.textC3{
    color: white;
    font-size: 30px;
    position: relative;
    top: -130px;
    margin-left: 1100px;
}

.boton_citas1{
    position: relative;
    background-color: #FF7A00;
    border: none; 
    color: white;
    padding: 12px 24px; 
    text-align: center; 
    text-decoration: none; 
    display: flex; 
    font-size: 16px; 
    cursor: pointer;
    margin-left: 70px;
    top: -150px;
    width: 231px;
    height: 43px;
}
@media(max-width: 768px){
    .contenedor_citas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.contenedor_citas_ejemplos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width: 768px){
    .contenedor_citas_ejemplos{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
}
.boton_citas1{
    display: block;
    margin: 0;
    position: initial;
}
.citas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
/* AGENDAR CITAS */
.bodyCitas {
    font-family:  "Inter", Arial, Helvetica, sans-serif;
    background-color: #1B1B1B;
  }
  
  .bodyCitas h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: white;
  }
  
  .bodyCitas form {
    width: 60%;
    margin: 0 auto;
    color: white;
  }
  
  .bodyCitas label {
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
  }

  .bodyCitas input[type="text"],
  .bodyCitas input[type="email"],
  .bodyCitas input[type="tel"],
  .bodyCitas select,
  .bodyCitas input[type="date"],
  .bodyCitas input[type="time"] {
    width: 100%;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 3px;
    background-color: rgb(71, 71, 71);
    color: white;
  }
  
  .bodyCitas input[type="submit"] {
    display: block;
    margin-top: 1em;
    background-color: #FF7A00;
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  } 

  /*Tratamiento de datos - Términos y Condiciones*/

  .trattyc{
    font-family: "Inter", Arial, Helvetica, sans-serif;;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .trattyc h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF7A00;
  }

  .trattyc p{
    display: flex;
    align-items: left;
    color: #fff;
  }

  
