extends ../layout/index

block contenido
    if errores 
        div(class="max-w-md mx-auto my-10")
            each error in errores 
                p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

    form.container(method="POST" action="/auth/login")
        input(type="hidden" name="_csrf" value= csrfToken)
        .top
            header.logyregh Ingresar
        .input-field
            input#email.input(type='email' placeholder='Correo electrónico' name="email")
            i.bx.bx-envelope
        .input-field
            input#password.input(type='password' placeholder='Contraseña' name="password")
            i.bx.bx-lock-alt
        .input-field
            input.submit(type='submit' value='Ingresa')
        .two-col
            .one
                input#check(type='checkbox')
                label(for='check') Recordarme
            .two
                label
                a(href='/auth/olvide-password') Olvidaste tu contraseña?
        .olvdcontra
            label
                a(href='/auth/registro') Aun no tienes cuenta? Registrate
