extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.text-white.text-center Apolo 
        h2.text-center.text-2xl.text-white= pagina

        if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores 
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg


        div.container
            div
                form(method="POST" action="/auth/olvide-password" novalidate)
                    input(type="hidden" name="_csrf" value= csrfToken)
                    .input-field
                        label(for="email")
                        input#email.input(type='email' placeholder='Correo electrónico' name="email")
                        i.bx.bx-envelope
                    .input-field
                            input.submit(type="submit", value="Enviar instrucciones")
                    .two-col
                        .two
                            label
                                a(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesion