extends ../layout/index

block contenido

    if errores 
        div(class="max-w-md mx-auto my-10")
            each error in errores 
                p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

    form.container(method="POST" actions="/auth/registro" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        .top
            header.logyregh Regístrate
        .input-field
            label(for="nombre")
            input#nombre.input(type="text" placeholder="Nombre" name="nombre" value= usuario ? usuario.nombre : '' )
            i.bx.bx-user
        .input-field
            label(for="apellido")
            input#apellido.input(type="text" placeholder="Apellido" name="apellido" value= usuario ? usuario.apellido : '' )
            i.bx.bx-user
        .input-field
            label(for="email")
            input#email.input(type="email" placeholder="Correo electrónico" name="email" value= usuario ? usuario.email : '' )
            i.bx.bx-envelope
        .input-field
            label(for="password")
            input#password.input(type="password" placeholder="Contraseña" name="password")
            i.bx.bx-lock-alt
        .input-field
            label(for="repetir_password")
            input#password.input(type="password" placeholder="Confirma la contraseña" name="repetir_password" )
            i.bx.bx-lock-alt
        .input-field
            input.submit(type="submit", value="Regístrate")
        .two-col
            .one
                input#check(type="checkbox")
                label(for="check") Recordarme
            .two
                label
                    a(href="/auth/olvide-password") ¿Olvidaste tu contraseña?
        .olvdcontra
            label
                a(href="/auth/login") ¿Ya tienes cuenta? Ingresa
