header.homeh
  ul.menu
    img.imagenLogo(src='images/1.png')
    li
      a(href='#') Home 
    li
      a(href='#') Citas 
    li
      a(href='#') Productos 
    a(href='/auth/login')
      img.imagenUsuario(src='images/usuario.png')